.form-login{
    background-image: linear-gradient(to bottom right, #beebf1, #f3accc);
    height: 100vh;
  padding: 10rem 30rem 10rem 30rem;
  .form-item{
    padding: 5rem 5rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    border: 3px solid blueviolet;
    background-color: #b8E3ff30;
    border-radius: 30px;
 
    .ant-form-item  {
        input{
            background-color: rgba(255, 255, 255, 0.6) !important;
    
        }
        button{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      
      }
      button:hover {  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}
  
    }
}
}
