.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  padding: 10rem;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 15px;
  margin-bottom: 3rem;
  background-color: rgba(255, 255, 255, 0.719);
}
.form .form-content {
  border: 3px solid blanchedalmond;
  padding: 10px;
  max-width: 100%;
}/*# sourceMappingURL=User.css.map */